* {      /* global reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    margin : 0;
    background-color: #46a2f8;
    font-family: monospace;
}
header {
    border-bottom: 1px solid #eee;
    align-items: center;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    }

    nav input{
        border: 0;
        outline: 0;
        padding-left: 20px;
        border-radius: 10px;
        width: 250px;
        height: 30px;
        color: #555;
        margin-right: 16px;
        font-family: monospace;
    }
    nav button {
        border: 0;
        outline: 0;
        background-color: #ffffff;
        color: #555;
        border-radius: 10px;
        height: 30px;
        width: 100px;
        cursor: pointer;
        font-family: monospace;
    }
    .main {
        display: flex;
        height: 100%;
        margin: 10px;
        justify-content: center;
        align-items: center;   
    }
    aside {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        flex: 3;
        height: 100vh;
        max-width: 100%;
        background-color: rgba(240, 248, 255, 0.208);
        color: fff;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        display: none;
    }
    .others {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .others img {
        width: 100px;
        margin: 5px;     
    }
    .others  p {
        text-decoration: underline;
    }
    .others span{
        color: #ffffff;
        font-size: 16px;     
    }
  .weather-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
  }
  .left {
    flex:1;
    align-self: flex-start; 
}
  .right {
    flex:1;
    align-self: flex-start;
  }
    .weather {
        flex:2;
    }
    .weather-icon {
        width: 300px;
    }
  .weather p {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
        text-decoration: underline;
  }
    .weather h1 {
            font-size: 40px;
            font-weight: 600;
            margin: 0;
    }
 .weather h1, h2, p {
    color: white;
 }
.sunset img{
    width: 60px;
 }
 .sunrise img{
    width: 60px;
 }
 .sunrise, .sunset p {
    color: #ffffff;
 }
 #sun-rise, #sun-set {
    color: #ffffff;
    font-size: 16px;     
}
 .btn:hover {
        scale: 1.05;
        background-color: #dfdfdf4d;
  }
  .search-history {   
    background-color: rgba(240, 248, 255, 0.208);
    color: #ffffff;
    height: 100vh;
    max-width: 100%;
    margin-left: 5px;
    border-radius: 10px;
    text-align: center;
    overflow: scroll;
  }
    .search-history h2{
        border-bottom: 1px solid #373737;
        padding: 10px;
        color: #373737;
    }
    .search-history li {
        list-style: circle;
        text-align: left;
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 5px;
        margin-top: 5px;
        margin-left: 20px;
        cursor: pointer;
    }
    .search-history li:hover {
        background-color: rgba(240, 248, 255, 0.208);
        color: #ffffff;
    }
  .left-side {
    flex: 1;
    background-color: rgba(240, 248, 255, 0.208);
    color: #ffffff;
    height: 100vh;
    max-height: 100%;    
    max-width: 100%;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
  }
  .left-side #error-msg {
    font-size: 40px;
    color:rgba(246, 0, 0, 0.208);
    display: none;
 }
  .forecast-list li {
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
  }
  .forecast-list li:hover {
    background-color: rgba(240, 248, 255, 0.208);
    color: #ffffff;
  }
  .forecast-list img {
    width: 50px;
    display: relative;
  }
#forecast-header {
    text-align: center;
    border-bottom: 1px solid #373737;
    padding: 10px;
    color: #373737;
    text-decoration: underline;
    display: none;
}
.forecast-box {
    flex: 2;
    display: none;

}
.forecast-data {
    flex: 3;
    min-height: 100vh;
    background-color: rgba(240, 248, 255, 0.208);
    color: fff;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}
.forecast-data li {
    border: 1px solid #ffffff;
    border-radius: 10px;
    list-style: none;
    margin: 10px;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}
.forecast-data img {
    width: 150px;
    display: relative;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-top: 1px solid #eee;
    border-radius: 10px;
    font-family: monospace;
}
footer img {
    width: 30px;
}
footer a:hover {
    cursor: pointer;
    scale: 1.05;

    
}
  @media screen and (max-width: 558px) { /*adding media query for mobile devices*/
    .main {
        flex-direction: column;
    }
    .container {
        order: 2;
        flex-direction: column;
        min-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .weather-box {
        min-width: 100%;
    }
    .others {
        flex-direction: column;
    }
    .others img{
        width: 50px;
        height: auto;
    }
    .left-side {
        order: 3;
        min-width: 100%;
        margin: 5px;
    }
    .left-side img {
        max-width: 100%;
    }
    
    .search-history {
        order: 1;  /*ordering the search history to be on top of the page*/
        margin: 5px;
        min-width: 100%;
        max-height: 100px;
        overflow: scroll; /*adding scroll bar to the search history*/
    }
    .forecast-box {
        order: 4;
        min-width: 100%;
        margin: 5px;
    }
  }