* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin : 0;
   /*background-image: url('https://wallpapers.com/images/high/raindrops-falling-on-the-shore-aj22flty0lhomtp6.webp');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #46a2f8;
    font-family: monospace;
    height: 100vh;
}
header {
    border-bottom: 1px solid #eee;
    align-items: center;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    }

    nav input{
        border: 0;
        outline: 0;
        padding-left: 20px;
        border-radius: 10px;
        width: 250px;
        height: 30px;
        color: #555;
        margin-right: 16px;
        font-family: monospace;
    }
    nav button {
        border: 0;
        outline: 0;
        background-color: #ffffff;
        color: #555;
        border-radius: 10px;
        height: 30px;
        width: 100px;
        cursor: pointer;
        font-family: monospace;
    }
    .main {
        display: flex;
        height: 100%;
        margin: 10px;
    }
    .container{
        flex: 3;
        height: 500px;
        max-width: 100%;
        max-height: 100%;
        /* background-image: url('https://images.unsplash.com/photo-1518803194621-27188ba362c9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80');
        background-repeat: no-repeat;
        background-size: cover; */
        background-color: rgba(240, 248, 255, 0.208);
        color: fff;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        overflow: hidden;
    }
    
    .others {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .others img {
        width: 30px;
        margin: 0;     
    }
    .weather-icon {
        width: 150px;
    }
  .weather p {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
        text-decoration: underline;
  }
  .weather span {
        color:  white;
        font-size: 14px;
        font-weight: 300;
        padding-top: 15px;
        margin-top: 10px;
               
  }
  .search-history {
    flex: 1;
    background-color: rgba(240, 248, 255, 0.208);
    color: #ffffff;
    height: 500px;
    max-height: 100%;
    margin-left: 5px;
    border-radius: 10px;
    text-align: center;
  }
    .search-history li {
        list-style: circle;
        text-align: left;
        padding: 5px;
        margin: 0;
        cursor: pointer;
        overflow: hidden;
    }
    .search-history li:hover {
        background-color: rgba(240, 248, 255, 0.208);
        color: #ffffff;
    }
  .forecast-container {
    display: relative;
    top: 0;
    background-color: rgba(240, 248, 255, 0.208);
    color: #ffffff;
    align-items: center;
    align-content: center;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
  }
  .forecast-container li {
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: #ffffff;
  }

  @media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .container {
        order: 2;
        flex-direction: column;
        margin: 5px;
    }
    .search-history {
        order: 1;
        margin: 5px;
        max-height: 100px;
        overflow: scroll;
    }
  }